<script>
  let skillPanel = document.querySelector("#skill-panel")
    .previousElementSibling;
  skillPanel.addEventListener("click", function() {
    let skillBars = document.querySelectorAll("#language-percent");
    skillBars.forEach(elem => {
      elem.style.width = elem.classList[0];
    });
  });
</script>
{{ range.Site.Params.language.list }}
<code>{{ .language }}</code>
<div class="w-100 skillbar mt-1 mb-3">
  <div id="language-percent" class="{{ .languagerating }}%" style="width: 0;"></div>
</div>
{{ end }}
